{% extends 'base.html' %}

{% block content %}



    <div class="site-wrap">

      <a href="#" class="offcanvas-toggle js-offcanvas-toggle">Menu</a>
      <div class="offcanvas_menu" id="offcanvas_menu">
        <ul class="mb-5">
          <li class="active"><a href="{% url 'core:home' %}">Bio</a></li>
          <li><a href="{% url 'core:portfolio' %}">Portfolio</a></li>
          <li><a href="{% url 'core:resume' %}">Resume</a></li>
          <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>

        <ul class="social">
          <li><a target="_blank" href="https://www.facebook.com/mateusz.wrobel.796" class="mr-2 mb-2"><i class="fa fa-facebook"></i></a> </li>
          <li><a target="_blank" href="https://github.com/mateuszwwwrobel" class="mr-2 mb-2"><i class="fa fa-github"></i></a> </li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w/videos" class="mr-2 mb-2"><i class="fa fa-youtube"></i></a></li>
        </ul>

          <div>
            </br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
      </div>
      
      <aside style="background-image: url(static/img/profile.png); transform: rotate(360deg);"></aside>

      <main>
        <h1 class="mb-0">Hi, I'm Mateusz Wrobel</h1>
        <div class="mb-5">
        <p class="text-dark lead mb-3">Geotechnical Engineer &amp; Data Scientist &amp; Python-Django Developer</p>

        <p class="text-dark">I work for a geotechnical company based in Aberdeen, Scotland. Carry out in-situ ground tests aswell as UCAS accredited laboratory.</p>
        <p class="text-dark">I am open-minded, hardworking and reliable person with a strong technical education, who possesses self-discipline, ability to work as a team member, 
        good communication skills. I am well organized what is one of my greatest advantages.</p>
        <p class="text-dark">Recently I start to code, I learn python and some front-end design languages. My aim is to create few usefull application which will make my daily tasks quicker and easier.
        I like read about history of Poland. I really like metal detecting, which is a great way to look for traces of the past.</p>
        <p class="text-dark">I also like video editing. You can see some of my videos on my Youtube channel. You can find a link down below.</p>
        <p class="text-dark">I really like sports especially football, hiking and mountain biking. Maybe it is time for another ride...</p>
        </div>
        

        <p>
          <a target="_blank" href="https://www.facebook.com/mateusz.wrobel.796" class="pr-2 mb-2">Facebook<i class="pl-2 fa fa-facebook"></i></a> 
          <a target="_blank" href="https://github.com/mateuszwwwrobel" class="pr-2 mb-2">Github<i class="pl-2 fa fa-github"></i></a> 
          <a target="_blank" href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w/videos" class="pr-2 mb-2">Youtube<i class="pl-2 fa fa-youtube"></i></a> 
       </p>
        <!-- <h2 class="mb-4 mt-5">Services</h2>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-android-cart"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">eCommerce Websites</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati totam.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-bonfire"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Branding Identity </a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-videocamera"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Video Editing</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati totam.</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-cube"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Web Applications </a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam.</p>
              </div>
            </div>
          </div> -->
        </div>
        
      </main>

    </div>

{% endblock content %}

    

    

