{% extends 'base.html' %}

{% block content %}

    
    <div class="site-wrap">

      <a href="#" class="offcanvas-toggle js-offcanvas-toggle">Menu</a>
      <div class="offcanvas_menu" id="offcanvas_menu">
        <ul class="mb-5">
          <li><a href="{% url 'core:home' %}">Bio</a></li>
          <li><a href="{% url 'core:portfolio' %}">Portfolio</a></li>
          <li class="active"><a href="{% url 'core:resume' %}">Resume</a></li>
          <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>
        <ul class="social">
          <li><a target="_blank" href="https://www.facebook.com/mateusz.wrobel.796" class="mr-2 mb-2"><i class="fa fa-facebook"></i></a> </li>
          <li><a target="_blank" href="https://github.com/mateuszwwwrobel" class="mr-2 mb-2"><i class="fa fa-github"></i></a> </li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w/videos" class="mr-2 mb-2"><i class="fa fa-youtube"></i></a></li>
        </ul>

          </br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

      </div>
      
      <aside style="background-image: url(/static/img/5.png); transform: rotate(360deg);"></aside>
      <main>
        <a href="{% url 'core:home' %}" class="home-button"><span class="fa fa-home"></span></a>
        
        <h1 class="mb-3 mt-4">Education</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>MSc Drilling and Geoengineering</h3>
              <h5>AGH University of Science and Technology</h5>
              <p class="date">February 2016 – June 2017	</p>
              <p class="text-dark">Diploma thesis: ‘Surfactants in completion and workover fluids.’ </p>
              <p class="text-dark">Modules included but not limited to:
              Drilling Fluids, Drilling Technologies, Geothermal Energy, Trenchless Technique and Technologies, Technology of 
              Sealing Slurries, Environmental Management, Geoengineering, Automation in Drilling, Management and Marketing.</p>
            </li>
            <li>
              <h3>BSc Mining and Geology</h3>
              <h5>AGH University of Science and Technology</h5>
              <p class="date">October 2012 – February 2016</p>
              <p class="text-dark">Diploma thesis: ‘Reusing barite from drilling mud. Drilling mud cleaning system project.’  </p>
              <p class="text-dark">Modules included but not limited to:
              Drilling Wells Design, Technology of Drilling, Gas and Oil Fields Extraction, Drilling Fluid Technology, Oil Transport and Storing, HDD Technology, 
              Extraction of Groundwater, Gas Engineering, Fluid Flow in Reservoirs, Geothermal Management and Deposits, Geoengineering, 
              Thermodynamics, Mechanics of Fluids, Mechanics, Hydrogeology, Geophysics, Geology, Chemistry, IT, Mathematics, Statistics.</p>
            </li>

            <li>
              <h3>Technician Economist</h3>
              <h5>Economic Technician Secondary School</h5>
              <p class="date">October 2007 – May 2011</p>
              <p class="text-dark">Europass - Certificate of competences of Technician Economist. </p>
            </li>
            
          </ul>
        </div>


        <h1 class="mb-5">Experience</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>Site and Laboratory Technician</h3>
              <h5>Raeburn Drilling and Geotechnical</h5>
              <p class="date">January 2019 - Present</p>
              <p class="text-dark">Site investigations. CBR tests, plate load tests, SRT tests, NDG tests. Working at UCAS  accredited laboratory based in Aberdeen.</p>
            </li>
            <li>
              <h3>Self Employed</h3>
              <h5>Contractor for Dandara Homes</h5>
              <p class="date">June 2018 - December 2019</p>
              <p class="text-dark">Setting up foundation, building houses. Installing window cills, lintels. Checking if everything is builds within regulation.</p>
            </li>
            <li>
              <h3>Engineering Surveyor</h3>
              <h5>G79 Geodesy(company operate in southern Poland)</h5>
              <p class="date">January 2018 – June 2018</p>
              <p class="text-dark">Taking part in rebuilding road 44 in Oswiecim, Poland. Extension of Magna-Formpol production hall in Tychy, Poland. Handling geodetic devices: total station, GPS. Operating on SurvCe and Leica software, AutoCAD.</p>
            </li>
            <li>
              <h3>Assistant Geologist</h3>
              <h5>Geo-Partner(company operate in Poland)</h5>
              <p class="date">October 2017 – January 2018</p>
              <p class="text-dark">Soil testing using mainly a light dynamic penetrometer.</p>
            </li>
            <li>
              <h3>Miner of Borehole Exploatation - Summer Internship</h3>
              <h5>PGNiG Inc.(main gas provider in Poland)</h5>
              <p class="date">June 2017 – October 2017</p>
              <p class="text-dark">Taking care of production process on gas mine Rylowa-Rajsko in Poland. Learning how gas mine daily operating works. Preparing different documents. Laboratory analysis of chelate.</p>
            </li>
            
          </ul>
        </div>



        <h1 class="mb-5">Education</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <p>In July 2017 I finished a Mining and Geology studies with major in Drilling 
            and Geoengineering at AGH University of Science and Technology in Cracow, Poland, 
            achieved master degree with distinction.</p>
            
            <p>I actively learn programming, especially python. I created few django projects which you can find in 
              <a href="{%url 'core:portfolio' %}">Portfolio section</a>.</p>

            Recently I start to code, I learn python and some front-end design languages. 
            My aim is to create few useful application which will make my daily tasks quicker and easier. 
            Gradually learn new technology, 
            develop new project and eventually get a job! You can see some of my projects in Portfolio section.

            <li>
              <h3>MSc Drilling and Geoengineering</h3>
              <h5>AGH University of Science and Technology</h5>
              <p class="date">February 2016 – June 2017	</p>
              <p class="text-dark">Diploma thesis: ‘Surfactants in completion and workover fluids.’ </p>
              <p class="text-dark">Modules included but not limited to:
              Drilling Fluids, Drilling Technologies, Geothermal Energy, Trenchless Technique and Technologies, Technology of 
              Sealing Slurries, Environmental Management, Geoengineering, Automation in Drilling, Management and Marketing.</p>
            </li>
            <li>
              <h3>BSc Mining and Geology</h3>
              <h5>AGH University of Science and Technology</h5>
              <p class="date">October 2012 – February 2016</p>
              <p class="text-dark">Diploma thesis: ‘Reusing barite from drilling mud. Drilling mud cleaning system project.’  </p>
              <p class="text-dark">Modules included but not limited to:
              Drilling Wells Design, Technology of Drilling, Gas and Oil Fields Extraction, Drilling Fluid Technology, Oil Transport and Storing, HDD Technology, 
              Extraction of Groundwater, Gas Engineering, Fluid Flow in Reservoirs, Geothermal Management and Deposits, Geoengineering, 
              Thermodynamics, Mechanics of Fluids, Mechanics, Hydrogeology, Geophysics, Geology, Chemistry, IT, Mathematics, Statistics.</p>
            </li>

            <li>
              <h3>Technician Economist</h3>
              <h5>Economic Technician Secondary School</h5>
              <p class="date">October 2007 – May 2011</p>
              <p class="text-dark">Europass - Certificate of competences of Technician Economist. </p>
            </li>
            
          </ul>
        </div>




      </main>
    </div>

{% endblock content %} 